
/**
 * Action view styles.
 */

.action-view
  width 460px

  header
    text-align center

    h1
      font-size 22px
      margin-top 12px

    button.remove-all
      margin-top 12px

  ul.cookies
    margin 12px
    height 300px;
    overflow-y scroll;

    li
      list-style-type none
      margin-right 6px
      margin-left 6px
      margin-top 12px
      margin-bottom 12px
      border-bottom 1px solid black

      &:last-of-type
        border-bottom none
